schemas/config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="path" type="xs:string"/>
  <xs:element name="run" type="xs:string"/>
  <xs:element name="runOnExit" type="xs:string"/>
  <xs:element name="runOnSuccess" type="xs:string"/>
  <xs:element name="runOnFail" type="xs:string"/>
  <xs:element name="runOnAbort" type="xs:string"/>
  <xs:element name="result" type="xs:string"/>
  <xs:element name="questions" type="xs:string"/>
  <xs:element name="instances" type="xs:int"/>
  <xs:element name="memoryPerInstance" type="xs:int"/>
  <xs:element name="priority">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attribute type="xs:string" name="feature" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tool">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="priority" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="path"/>
		<xs:element ref="run"/>
		<xs:element ref="runOnExit" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="runOnSuccess" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="runOnFail" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="runOnAbort" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="result"/>
        <xs:element ref="questions"/>
        <xs:element ref="instances"/>
        <xs:element ref="memoryPerInstance"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
	  <xs:attribute type="xs:string" name="version" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="androidPlatforms" type="xs:string"/>
  <xs:element name="maxMemory" type="xs:int"/>
  <xs:element name="tools">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="preprocessors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="operators">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="converters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="androidPlatforms"/>
        <xs:element ref="maxMemory"/>
        <xs:element ref="tools"/>
		<xs:element ref="preprocessors"/>
		<xs:element ref="operators"/>
		<xs:element ref="converters"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>