schemas/config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="path" type="xs:string" />
    <xs:element name="run" type="xs:string" />
    <xs:element name="runOnEntry" type="xs:string" />
	<xs:element name="runOnExit" type="xs:string" />
    <xs:element name="runOnSuccess" type="xs:string" />
    <xs:element name="runOnFail" type="xs:string" />
    <xs:element name="runOnAbort" type="xs:string" />
    <xs:element name="result" type="xs:string" />
    <xs:element name="questions" type="xs:string" />
    <xs:element name="instances" type="xs:int" />
    <xs:element name="memoryPerInstance" type="xs:int" />
	<xs:element name="url" type="xs:string"/>
	<xs:element name="username" type="xs:string"/>
	<xs:element name="password" type="xs:string"/>
	<xs:element name="timeout" type="xs:string"/>
    <xs:element name="priority">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:int">
                    <xs:attribute type="xs:string" name="feature" use="optional" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="execute">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="run" />
					<xs:element ref="result" />
                    <xs:element ref="instances" />
                    <xs:element ref="memoryPerInstance" />
                </xs:sequence>
				<xs:sequence>
                    <xs:element ref="url" />
                    <xs:element ref="username" />
                    <xs:element ref="password" />
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="tool">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="priority" maxOccurs="unbounded" minOccurs="0" />
                <xs:element ref="timeout" minOccurs="0" maxOccurs="1" />
				<xs:element ref="execute" minOccurs="1" maxOccurs="1" />
				<xs:element ref="path" minOccurs="0" maxOccurs="1" />
                <xs:element ref="runOnEntry" minOccurs="0" maxOccurs="1" />
				<xs:element ref="runOnExit" minOccurs="0" maxOccurs="1" />
                <xs:element ref="runOnSuccess" minOccurs="0" maxOccurs="1" />
                <xs:element ref="runOnFail" minOccurs="0" maxOccurs="1" />
                <xs:element ref="runOnAbort" minOccurs="0" maxOccurs="1" />
                <xs:element ref="questions" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required" />
            <xs:attribute type="xs:string" name="version" use="optional" />
			<xs:attribute type="xs:boolean" name="external" use="optional" default="false" />
        </xs:complexType>
    </xs:element>
    <xs:element name="androidPlatforms" type="xs:string" />
    <xs:element name="androidBuildTools" type="xs:string" />
    <xs:element name="maxMemory" type="xs:int" />
    <xs:element name="tools">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="preprocessors">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="operators">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="converters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tool" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="androidPlatforms" />
				<xs:element ref="androidBuildTools" />
                <xs:element ref="maxMemory" />
                <xs:element ref="tools" />
                <xs:element ref="preprocessors" />
                <xs:element ref="operators" />
                <xs:element ref="converters" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>