schemas/rules.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="priority">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attribute type="xs:string" name="feature" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="inputQuery" type="xs:string"/>
	<xs:element name="outputQuery" type="xs:string"/>
	<xs:element name="query" type="xs:string"/>
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="priority" maxOccurs="unbounded"/>
				<xs:choice minOccurs="1">
					<xs:sequence>
						<xs:element ref="inputQuery"/>
						<xs:element ref="outputQuery"/>
					</xs:sequence>
					<xs:element ref="query"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute type="xs:string" name="name" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rule" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>